{{!--
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down notes the way you want.</p>
  <a href="/notes/add" class="btn btn-dark btn-lg">Get Started</a>
</div> --}}
<div class="mainbg">
    <div class="overlay"></div>

</div>
<div class="text-center headingtag"> 
    <h1 class="display-3" id="title1">{{title}}</h1>
    <p class="lead">Jot down notes the way you want and access them anywhere anytime.</p>
    <a href="/users/register" class="btn btn-dark btn-lg">Get Started</a>
  </div>